ul.okr-list {
  list-style: none;
  width: 40%;
  li {
    margin: 5px;
    padding: 5px;
    border: 1px solid #f7f7f7;
  }
}
.drop-down-section {
  position: absolute;
}
.okr-list-item {
  margin-left: 30px;
}
ul.children-objectives {
  list-style: none;
  list-style-type: lower-alpha;
  margin: 0px;
  padding: 0px;
  li {
    margin: 5px;
    padding: 5px;
    background: #eeeeee;
  }
  li:nth-child(odd) {
    background: white;
  }
}
.hide {
  display: none;
}
